version: 2
updates:
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps(docker)"
    labels:
      - "dependencies"
    open-pull-requests-limit: 2
    automerge: true

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "deps(actions)"
    automerge: true

  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps(go)"
    labels:
      - "dependencies"
      - "go"
    open-pull-requests-limit: 5
    automerge: true